* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  text-align: center;
  background-color: #000;
  color: #fff;
  justify-content: center;
  align-items: center;
}

p {
  width: 80vw;
  position: fixed;
  bottom: 10vh;
  font-family: "Noto Serif SC", serif;
  font-weight: 200;
  letter-spacing: 0.3em;
  line-height: 160%;
}

@media (orientation: landscape) {
  p {
    bottom: 7vh;
    font-size: 2.5vh;
  }
}

@media (orientation: portrait) {
  p {
    bottom: 10vh;
    font-size: 4vw;
  }
  canvas {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
